@import url("https://use.typekit.net/bns3blg.css");

@font-face {
  font-family: 'Franklin Gothic Std';
  src: url('/franklin/franklin-condensed.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}