*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: currentColor;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  padding-left: 0;
}

input {
  background-color: transparent;
  outline: none;
}

input:focus {
  outline: max(2px, 0.1em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input::placeholder {
  opacity: .6 !important;
  color: black !important;
}

input[type="checkbox"] {
  -webkit-appearance: none !important;
  appearance: none !important;
  background-color: transparent !important;
  margin: 0 !important;
}

input[type="checkbox"] {
  font: inherit !important;
  color: currentColor !important;
  width: 1.15em !important;
  height: 1.15em !important;
  border: 0.1px solid currentColor !important;
  border-radius: 0.15em !important;
  transform: translateY(-0.075em) !important;
  display: inline-grid !important;
  place-content: center !important;
}

input[type="checkbox"]::before {
  content: "" !important;
  width: 0.65em !important;
  height: 0.65em !important;
  transform: scale(0) !important;
  transition: 120ms transform ease-in-out !important;
  box-shadow: inset 1em 1em var(--black) !important;
  background-color: var(--yellow) !important;
  transform-origin: bottom left !important;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%) !important;
}

input[type="checkbox"]:checked::before {
  transform: scale(1) !important;
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.1em) solid currentColor !important;
  outline-offset: max(2px, 0.15em) !important;
}

#root, #__next {
  isolation: isolate !important;
}