:root {
  --yellow: #F7EA1E;
  --green: #00C92D;
  --pink: #EDA1A7;
  --purple: #4721FD;
  --white: #FFFFFF;
  --black: #000000;

  --container: 1600px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--black);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border: 8px solid var(--white);
}

html {}

body {
  font-family: 'Mrs Eaves';
  background-color: var(--pink);
  overflow-x: hidden;
  overflow-y: overlay;
}

h1,
h2,
h3,
h4 {
  font-family: 'Franklin Gothic Std', sans-serif;
  text-transform: uppercase;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 1rem;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  z-index: 10;
  opacity: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .button {
  display: flex;
  align-self: self-center;
  gap: .7rem;
  padding: 1.2rem 1rem .6rem 1rem;
  color: var(--black);
  background-color: var(--white);
  border-radius: 6.14px;
  font-family: 'Franklin Gothic Std';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

header .button svg {
  margin-top: -.4rem;
}

@media (max-width: 1024px) {
  header {
    padding: 1rem 0;
  }

  header .button {
    padding: 1rem 1rem .6rem 1rem;
    font-size: 18px;
  }

  header .button svg {
    margin-top: -.8rem;
  }
}

@media (max-width: 500px) {
  header .button {
    padding: .9rem 1rem .6rem 1rem;
  }

  header .button svg {
    display: none;
  }
}

.hero {
  position: relative;
  height: 100dvh;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hero .container div:first-child {
  height: 164px;
}

.hero picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.hero picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero h2 {
  font-family: 'Franklin Gothic Std';
  font-size: 120px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: var(--yellow);
  opacity: 0;
  clip-path: inset(0% 100% 0% 0%);
}


.hero p {
  color: var(--white);
  font-size: 49.11px;
  font-weight: 400;
  line-height: 49.11px;
  text-align: center;
  opacity: 0;
  clip-path: inset(0% 100% 0% 0%);
}

.hero .button-primary {
  display: flex;
  align-items: center;
  align-self: end;
  gap: 1rem;
  padding: 1.4rem 1rem .8rem 1rem;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 6.14px;
  font-family: 'Franklin Gothic Std';
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 2rem;
  opacity: 0;
}

.hero .button-primary svg {
  margin-top: -.4rem;
  transition: .3s ease;
}

.hero .button-primary:hover {
  transition: .3s ease;
}

.hero .button-primary:hover svg {
  transform: rotate(-24deg);
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero-bottom .whatsapp {
  background-color: var(--white);
  align-self: center;
  padding: .8rem;
  border-radius: 50%;
  opacity: 0;
}

@media (max-width: 1440px) {
  .hero h2 {
    font-size: 80px;
  }

  .hero p {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .hero .container {
    padding: 0;
  }

  .hero .container div:first-child {
    height: 120px;
  }

  .hero-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero h2 {
    font-size: 64px;
  }

  .hero-bottom {
    flex-direction: column-reverse;
  }

  .hero-bottom div:first-child {
    display: none;
  }

  .hero .button-primary {
    justify-content: center;
    align-self: center;
    width: 100%;
    font-size: 30px;
    border-radius: 0;
    margin-bottom: 0;
  }

  .hero .whatsapp {
    margin-bottom: 1rem;
    margin-right: 1rem;
    align-self: flex-end;
  }
}
@media (max-width: 600px) {
  .hero h2 {
    font-size: 48px;
  }

  .hero p {
    font-size: 24px;
  }

}
.text {
  padding: 8rem 0 4rem 0;
  color: var(--purple);
}

.text h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 2rem;
}

.text p {
  font-size: 64px;
  font-weight: 400;
  line-height: 60.8px;
  letter-spacing: -0.02em;
}

@media (max-width: 1024px) {
  .text h2 {
    font-size: 24px;
  }

  .text p {
    font-size: 40px;
    line-height: 1.2;
  }
}

.data {
  padding: 10rem 0 0 0;
  color: var(--black);
}

.data h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 2rem;
  color: var(--purple);
}

.data .grid {
  display: grid;
  gap: 0 3rem;
  grid-template-columns: .4fr .6fr;
}

.data .grid .first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data .grid .first p {
  max-width: 380px;
  font-size: 24px;
  letter-spacing: -1px;
}

.data .grid .second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.data .grid .second ul {
  display: flex;
  flex-direction: column;
  gap: 6rem 0;
  padding: 1rem 1rem;
  border-left: 1px solid #00000044;
  opacity: 0;
  clip-path: inset(0% 0% 100% 0%);
}

.data .grid .second li {
  display: flex;
  flex-direction: column;
}

.data .grid .second strong {
  font-family: 'Franklin Gothic Std';
  font-size: 64px;
  font-weight: 400;
  line-height: .8;
}

.data .grid .second span {
  font-size: 28px;
  font-weight: 400;
  line-height: .9;
  max-width: 12ch;
}

.data .mobile {
  display: none;
}

@media (max-width: 1024px) {
  .data .grid {
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
  }

  .data h2 {
    margin-bottom: 0;
    font-size: 24px;
  }

  .data .desktop {
    display: none;
  }

  .data .mobile {
    display: block;
  }

  .data .grid .second strong {
    font-size: 48px;
  }

  .data .grid .second span {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .data .desktop-sm {
    display: none;
  }
}

.sponsors {
  padding: 11rem 0 0 0;
}

.sponsors h3 {
  text-align: center;
  color: var(--purple);
  font-weight: 400;
  font-size: 32px;
}

.sponsors .container {
  display: flex;
  flex-direction: column;
  gap: 5rem 0;
}

.sponsors .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem 0;
}

.sponsors .flex figure {
  min-width: 16rem;

}

.sponsors .flex figure img {
  margin: 0 auto;
}

.sponsors .flex-marquee {
  display: none;
}

@media (max-width: 1024px) {
  .sponsors {
    padding: 5.6rem 0 0 0;
  }

  .sponsors .container {
    gap: 3rem 0;
  }

  .sponsors h3 {
    font-size: 24px;
  }

  .sponsors .flex {
    display: none;
  }

  .sponsors .flex-marquee {
    width: 100%;
    display: flex;
    user-select: none;
    gap: 3rem 0;
    overflow: hidden;
  }

  .sponsors .flex-marquee div {
    display: flex;
    animation: marquee 15s linear infinite;
  }

  .sponsors .flex-marquee figure {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15rem;
  }

  @keyframes marquee {
    0% {
      transform: translate(2%, 0);
    }

    100% {
      transform: translate(-100%, 0);
    }
  }
}

.contact {
  padding: 11rem 0 6rem 0;
}

.contact h3 {
  text-align: center;
  color: var(--yellow);
  font-weight: 400;
  font-size: 84px;
  max-width: 900px;
  text-wrap: balance;
  margin: 0 auto;
  line-height: 1;
}

.contact .form {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: .36fr .63fr;
  margin-top: 4rem;
}

.contact .form-group {
  display: flex;
  flex-direction: column;
  gap: 1.3rem 0;
}

.contact .form-input {
  display: flex;
  flex-direction: column;
  gap: .4rem 0;
}

.contact .form-input input {
  border: 1px solid var(--black);
  border-radius: 4px;
  padding: .62rem 1rem .4rem 1rem;
}

.contact .form-submit {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  align-items: end;
}

.contact .form-submit label {
  font-family: sans-serif;
  font-size: 14px;
}

.contact .form-submit a {
  text-decoration: underline;
}

.contact .button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: self-center;
  gap: 1rem;
  padding: 1.4rem 1rem .8rem 1rem;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 6.14px;
  font-family: 'Franklin Gothic Std';
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  width: 100%;
}

.contact .button-primary:hover {
  cursor: pointer;
}

.contact .form-prensa a {
  text-decoration: underline;
}

.contact-periodista {
  padding-top: 4rem;
  text-align: center;
  font-size: 32px;
}

@media (max-width: 1024px) {
  .contact {
    padding: 6rem 0 2.4rem 0;
  }

  .contact h3 {
    font-size: 56px;
    margin-bottom: 2rem;
  }

  .contact .form {
    display: flex;
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
  }

  .contact .form-group {
    width: 100%;
  }

  .contact .form-submit {
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
  }

  .contact .form-submit button {
    width: 100%;
    justify-content: center;
    font-size: 24px;
  }

  .contact .form-submit button svg {
    width: 24px;
  }

  .contact .desktop {
    display: none;
  }

  .contact-periodista {
    padding-top: 4rem;
    text-align: center;
    font-size: 22px;
  }
}
footer {
  background-color: var(--pink);
}

footer .flex {
  display: flex;
  justify-content: space-between;
  padding: 2.6rem 0;
  border-top: 1px solid var(--black);
}

footer .flex>div {
  display: flex;
  gap: 0 1.4rem;
}

footer .mobile {
  display: none;
}

footer .mobile>p {
  display: none;
}

@media (max-width: 1024px) {
  footer .desktop {
    display: none;
  }

  footer .mobile {
    display: block;
  }

  footer .flex>div {
    display: flex;
    justify-content: space-between;
  }

  footer .footer-menu {
    position: relative;
    display: flex;
    gap: 1rem;
  }

  footer .footer-menu p {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  footer img {
    height: 160px;
  }
}

@media (max-width: 668px) {
  footer .flex {
    padding-bottom: 2rem;
  }

  footer .flex>div {
    border-bottom: 1px solid var(--black);
    padding-bottom: 2.2rem;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }

  footer .footer-menu p {
    display: none;
  }

  footer .mobile>p {
    padding: 2rem 0 0 0;
    text-align: center;
    display: block;
  }
}